/*!
Theme Name: virtual_expo
Theme URI: https://aegmedia.vn/
Author: AEG_Media
Author URI: https://aegmedia.vn/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: aeg_media
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

*/
#wrap_admin{
    position: relative;
}
.btnsPanel{
    width: 104px;
    height: 104px;
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 3;
    background: transparent url('images/bg-arrows.png') no-repeat;
    display: none;
}
.btnsPanel a.upBtn,
.btnsPanel a.rightBtn,
.btnsPanel a.downBtn,
.btnsPanel a.leftBtn ,
.btnsPanel a.centerBtn,
a.iBtn,
a.zoomInBtn,
a.zoomOutBtn {
    display:block;
    position:absolute;
    margin:0;
    width:25px;
    height:25px;
}

.btnsPanel a.upBtn  {
    margin:6px 0 0 42px;
    background: transparent url('images/arrow-up.png') no-repeat;
}

.btnsPanel a.rightBtn  {
    margin:37px 0 0 72px;
    background: transparent url('images/arrow-right.png') no-repeat;
}

.btnsPanel a.downBtn  {
    margin:68px 0 0 42px;
    background: transparent url('images/arrow-down.png') no-repeat;
}

.btnsPanel a.leftBtn  {
    margin:37px 0 0 10px;
    background: transparent url('images/arrow-left.png') no-repeat;
}
.btnsPanel a.zoomInBtn {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 39px;
    height: 39px;
    margin: 100px 0 0 33px;
    border: 1px SOLID #64605b;
    background: #fff url('images/zoom-in.png') center no-repeat;
    -webkit-box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
    -moz-box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
    box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
}
.btnsPanel a.zoomOutBtn {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 39px;
    height: 39px;
    margin: 145px 0 0 33px;
    border: 1px SOLID #64605b;
    background: #fff url('images/zoom-out.png') center no-repeat;
    -webkit-box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
    -moz-box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
    box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
}
.tooltip img{
    width: 100%;
}
.tooltip{
    width: 200px;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 0 10px 1px #4e4e4e;
}
.tooltip label{
    width: 100%;
    border-top: 1px solid #dedede;
    font-size: 18px;
    padding-top: 5px;
    margin-bottom: 5px;
}
#wrap_admin svg{
    width: 100%;
    height: 100vh;
}
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 11px;
}
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;  /* Round any decimal pixels so it'll render nicely */
}
#zoom{
    display: none;
}
#zoom.show{
    display: block;
}