#wrap_admin svg{
    width: 100%;
    height: 100vh;
}
#remove-image,
#remove-imageBig{
    display: none;
}
#remove-image.show,
#remove-imageBig.show{
    display: block;
}
#btnUpLoadLogo,
#btnuploadLogoBig{
    display: none;
}

#btnUpLoadLogo.show,
#btnuploadLogoBig.show{
    display: block;
}
.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

.wpcf7 form .wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    border: 2px solid #00a0d2; /* Blue */
}

.wpcf7 form.init .wpcf7-response-output {
    display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: #46b450; /* Green */
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
    border-color: #dc3232; /* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
    border-color: #f56e28; /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
    border-color: #ffb900; /* Yellow */
}

.wpcf7-form-control-wrap {
    position: relative;
}

.wpcf7-not-valid-tip {
    color: #dc3232;
    font-size: 1em;
    font-weight: normal;
    display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 100;
    border: 1px solid #dc3232;
    background: #fff;
    padding: .2em .8em;
}

span.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 1em;
}

span.wpcf7-list-item-label::before,
span.wpcf7-list-item-label::after {
    content: " ";
}

div.wpcf7 .ajax-loader {
    visibility: hidden;
    display: inline-block;
    background-image: url('../images/ajax-loader.gif');
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    margin: 0 0 0 4px;
    vertical-align: middle;
}

div.wpcf7 .ajax-loader.is-active {
    visibility: visible;
}

div.wpcf7 div.ajax-error {
    display: none;
}

div.wpcf7 .placeheld {
    color: #888;
}

div.wpcf7 input[type="file"] {
    cursor: pointer;
}

div.wpcf7 input[type="file"]:disabled {
    cursor: default;
}

div.wpcf7 .wpcf7-submit:disabled {
    cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
    direction: ltr;
}
#image,.idpage{
    display: none;
}
#wrap_admin .confirm{
    display: none;
}
#wrap_admin .confirm.show{
    display: block;
}
#wrap-show.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    left: 0;
    outline: 0;
    display: none;
    z-index: 9;
}
#wrap-show.modal.show{
    display: block;
}
.modal-dialog{
    width: 100%;
    max-width: 500px;
    margin: 1.75rem auto;
    background: #fff;
    transform: translate(-50%,-50%);
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 15px 20px;
    border-radius: 5px;
}

#wrap-show-background.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    left: 0;
    outline: 0;
    display: none;
    z-index: 9;
}
#confirm-edit.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    left: 0;
    outline: 0;
    display: none;
    z-index: 9;
}
#wrap-show-background.modal.show,#confirm-edit.modal.show{
    display: block;
}

#wrap-show .wpcf7,#wrap-show-background .wpcf7{
    overflow-y: auto;
    height: 80%;
    width: 100%;
    max-width: 500px;
    margin: 1.75rem auto;
    background: #fff;
    transform: translate(-50%,-50%);
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 15px 20px;
    border-radius: 5px;
}
#confirm-edit .wpcf7{
    width: 100%;
    max-width: 200px;
    margin: 1.75rem auto;
    background: #fff;
    transform: translate(-50%,-50%);
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 15px 20px;
    border-radius: 5px;
}
#wrap-show .require,#wrap-show-background .require{
    color: red;
}
#wrap-show label{
    margin-bottom: 3px;
    float: left;
    width: 100%;
}
#wrap-show p{
    margin: 0;
}
#wrap-show .information input,#wrap-show .information textarea{
    width: 100%;
}
#wrap-show-background input{
    width: 100%;
}
#wrap-show-background label{
    float: left;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 10px;
}
.logoCompany,.linkCompany{
    margin-top: 10px;
}
.mt-0{
    margin-top: 0 !important;
}
.btnsPanel{
    width: 104px;
    height: 104px;
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 3;
    background: transparent url('../images/bg-arrows.png') no-repeat;
}
#wrap_admin{
    position: relative;
}
.btnsPanel a.upBtn,
.btnsPanel a.rightBtn,
.btnsPanel a.downBtn,
.btnsPanel a.leftBtn ,
.btnsPanel a.centerBtn,
a.iBtn,
a.zoomInBtn,
a.zoomOutBtn {
    display:block;
    position:absolute;
    margin:0;
    width:25px;
    height:25px;
}

.btnsPanel a.upBtn  {
    margin:6px 0 0 42px;
    background: transparent url('../images/arrow-up.png') no-repeat;
}

.btnsPanel a.rightBtn  {
    margin:37px 0 0 72px;
    background: transparent url('../images/arrow-right.png') no-repeat;
}

.btnsPanel a.downBtn  {
    margin:68px 0 0 42px;
    background: transparent url('../images/arrow-down.png') no-repeat;
}

.btnsPanel a.leftBtn  {
    margin:37px 0 0 10px;
    background: transparent url('../images/arrow-left.png') no-repeat;
}
.btnsPanel a.zoomInBtn {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 39px;
    height: 39px;
    margin: 100px 0 0 33px;
    border: 1px SOLID #64605b;
    background: #fff url('../images/zoom-in.png') center no-repeat;
    -webkit-box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
    -moz-box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
    box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
}
.btnsPanel a.zoomOutBtn {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 39px;
    height: 39px;
    margin: 145px 0 0 33px;
    border: 1px SOLID #64605b;
    background: #fff url('../images/zoom-out.png') center no-repeat;
    -webkit-box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
    -moz-box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
    box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
}
#add-pdf{
    display: none;
}
#add-pdf.show{
    display: block;
}