.nw-visitor-chat {
  width: 720px;
  height: 550px;
  float: right;
  position: fixed;
  bottom: 100px;
  right: 5px;
  background-color: white;
  border-radius: 3px;
  border: solid 1px grey;
  box-shadow: whitesmoke;
  z-index: 100;
  display: none;
}

.nw-visitor-chat.active {
  display: block;
}

.nw-visitor-chat-wrapper {
  width: 100%;
  min-width: 360px;
  max-width: 1000px;
  height: 100%;
  min-height: 300px;
  max-height: 720px;
  background: #e6eaea;
}
@media screen and (max-width: 360px) {
  .nw-visitor-chat-wrapper {
    width: 100%;
    height: 100%;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion {
  float: right;
  min-width: 280px;
  max-width: 340px;
  width: 40%;
  height: 100%;
  background: #2c3e50;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion {
    width: 58px;
    min-width: 58px;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile {
  width: 80%;
  margin: 25px auto;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #profile {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    background: #32465a;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile.expanded .wrap {
  height: 210px;
  line-height: initial;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile.expanded .wrap p {
  margin-top: 20px;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile.expanded .wrap i.expand-button {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  -moz-transition: 0.3s height ease;
  -o-transition: 0.3s height ease;
  -webkit-transition: 0.3s height ease;
  transition: 0.3s height ease;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap {
    height: 55px;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap img {
  width: 50px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #e74c3c;
  height: auto;
  float: left;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap img {
    width: 40px;
    margin-left: 4px;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap img.online {
  border: 2px solid #2ecc71;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap img.away {
  border: 2px solid #f1c40f;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap img.busy {
  border: 2px solid #e74c3c;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap img.offline {
  border: 2px solid #95a5a6;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap p {
  float: left;
  margin-left: 15px;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap p {
    display: none;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap i.expand-button {
  float: right;
  margin-top: 23px;
  font-size: 0.8em;
  cursor: pointer;
  color: #435f7a;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap i.expand-button {
    display: none;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  margin: 70px 0 0 0;
  border-radius: 6px;
  z-index: 99;
  line-height: initial;
  background: #435f7a;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options {
    width: 58px;
    margin-top: 57px;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options.active {
  opacity: 1;
  visibility: visible;
  margin: 75px 0 0 0;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options.active {
    margin-top: 62px;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #435f7a;
  margin: -8px 0 0 24px;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options:before {
    margin-left: 23px;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options ul {
  overflow: hidden;
  border-radius: 6px;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options ul li {
  padding: 15px 0 30px 18px;
  display: block;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options ul li {
    padding: 15px 0 35px 22px;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options ul li:hover {
  background: #496886;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options ul li span.status-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options ul li span.status-circle {
    width: 14px;
    height: 14px;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options ul li span.status-circle:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  margin: -3px 0 0 -3px;
  background: transparent;
  border-radius: 50%;
  z-index: 0;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options ul li span.status-circle:before {
    height: 18px;
    width: 18px;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options ul li p {
  padding-left: 12px;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options ul li p {
    display: none;
  }
}
.nw-visitor-chat-wrapper
  .nw-exhibition-conversion
  #profile
  .wrap
  #status-options
  ul
  li#status-online
  span.status-circle {
  background: #2ecc71;
}
.nw-visitor-chat-wrapper
  .nw-exhibition-conversion
  #profile
  .wrap
  #status-options
  ul
  li#status-online.active
  span.status-circle:before {
  border: 1px solid #2ecc71;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options ul li#status-away span.status-circle {
  background: #f1c40f;
}
.nw-visitor-chat-wrapper
  .nw-exhibition-conversion
  #profile
  .wrap
  #status-options
  ul
  li#status-away.active
  span.status-circle:before {
  border: 1px solid #f1c40f;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #status-options ul li#status-busy span.status-circle {
  background: #e74c3c;
}
.nw-visitor-chat-wrapper
  .nw-exhibition-conversion
  #profile
  .wrap
  #status-options
  ul
  li#status-busy.active
  span.status-circle:before {
  border: 1px solid #e74c3c;
}
.nw-visitor-chat-wrapper
  .nw-exhibition-conversion
  #profile
  .wrap
  #status-options
  ul
  li#status-offline
  span.status-circle {
  background: #95a5a6;
}
.nw-visitor-chat-wrapper
  .nw-exhibition-conversion
  #profile
  .wrap
  #status-options
  ul
  li#status-offline.active
  span.status-circle:before {
  border: 1px solid #95a5a6;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #expanded {
  padding: 100px 0 0 0;
  display: block;
  line-height: initial !important;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #expanded label {
  float: left;
  clear: both;
  margin: 0 8px 5px 0;
  padding: 5px 0;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #expanded input {
  border: none;
  margin-bottom: 6px;
  background: #32465a;
  border-radius: 3px;
  color: #f5f5f5;
  padding: 7px;
  width: calc(100% - 43px);
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #profile .wrap #expanded input:focus {
  outline: none;
  background: #435f7a;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #search {
  border-top: 1px solid #32465a;
  border-bottom: 1px solid #32465a;
  font-weight: 300;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #search {
    display: none;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #search label {
  position: absolute;
  margin: 10px 0 0 20px;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #search input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  padding: 10px 0 10px 46px;
  width: calc(100% - 25px);
  border: none;
  background: #32465a;
  color: #f5f5f5;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #search input:focus {
  outline: none;
  background: #435f7a;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #search input::-webkit-input-placeholder {
  color: #f5f5f5;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #search input::-moz-placeholder {
  color: #f5f5f5;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #search input:-ms-input-placeholder {
  color: #f5f5f5;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #search input:-moz-placeholder {
  color: #f5f5f5;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list {
  height: calc(100% - 177px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list {
    height: calc(100% - 149px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list::-webkit-scrollbar {
    display: none;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list.expanded {
  height: calc(100% - 334px);
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list::-webkit-scrollbar {
  width: 8px;
  background: #2c3e50;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list::-webkit-scrollbar-thumb {
  background-color: #243140;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition {
  position: relative;
  padding: 10px 0 15px 0;
  font-size: 0.9em;
  cursor: pointer;
}
.nw-visitor-chat-wrapper .tooltip {
  background: transparent;
  opacity: 1;
  display: none;
  box-shadow: none;
}
.nw-visitor-chat-wrapper .tooltip.bs-tooltip-bottom .arrow::before {
  border-bottom-color: rgb(0, 129, 251, 1);
}
.nw-visitor-chat-wrapper .tooltip .tooltip-inner {
  background-color: rgb(0, 129, 251, 1);
  padding: 10px;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition {
    padding: 6px 0 46px 8px;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition:hover {
  background: #32465a;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition.active {
  background: #32465a;
  border-right: 5px solid #435f7a;
}
.nw-visitor-chat-wrapper
  .nw-exhibition-conversion
  .nw-exhibition-list
  ul
  li.nw-exhibition.active
  span.nw-exhibition-status {
  border: 2px solid #32465a !important;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition .wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition .wrap {
    width: 100%;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition .wrap span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #2c3e50;
  background: #95a5a6;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition .wrap span.online {
  background: #2ecc71;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition .wrap span.away {
  background: #f1c40f;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition .wrap span.busy {
  background: #e74c3c;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition .wrap img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition .wrap img {
    margin-right: 0px;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition .wrap .meta {
  padding: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition .wrap .meta {
    display: none;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition .wrap .meta .name {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition .wrap .meta .preview {
  margin: 5px 0 0 0;
  padding: 0 0 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion .nw-exhibition-list ul li.nw-exhibition .wrap .meta .preview span {
  position: initial;
  border-radius: initial;
  background: none;
  border: none;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: 0.5;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #bottom-bar button {
  float: left;
  border: none;
  width: 50%;
  padding: 10px 0;
  background: #32465a;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 0.85em;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #bottom-bar button {
    float: none;
    width: 100%;
    padding: 15px 0;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #bottom-bar button:focus {
  outline: none;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #bottom-bar button:nth-child(1) {
  border-right: 1px solid #2c3e50;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #bottom-bar button:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #2c3e50;
  }
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #bottom-bar button:hover {
  background: #435f7a;
}
.nw-visitor-chat-wrapper .nw-exhibition-conversion #bottom-bar button i {
  margin-right: 3px;
  font-size: 1em;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #bottom-bar button i {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-exhibition-conversion #bottom-bar button span {
    display: none;
  }
}
.nw-visitor-chat-wrapper .nw-chat-content {
  float: left;
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: none;
}
.nw-visitor-chat-wrapper .nw-chat-content.active {
  display: block;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-chat-content {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
}
@media screen and (min-width: 900px) {
  .nw-visitor-chat-wrapper .nw-chat-content {
    width: calc(100% - 290px);
  }
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f5f5f5;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-header .nw-heading-title > li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-header img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-header p {
  float: left;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-header .social-media {
  float: right;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-header .social-media i {
  margin-left: 14px;
  cursor: pointer;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-header .social-media i:nth-last-child(1) {
  margin-right: 20px;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-header .social-media i:hover {
  color: #435f7a;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages {
  height: auto;
  min-height: calc(100% - 110px);
  max-height: calc(100% - 110px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages {
    max-height: calc(100% - 105px);
  }
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages ul li.nw-message-incoming img {
  margin: 6px 8px 0 0;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages ul li.nw-message-incoming > div {
  background: #435f7a;
  color: #f5f5f5;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages ul li.nw-message-outgoing img {
  float: right;
  margin: 6px 0 0 8px;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages ul li.nw-message-outgoing > div {
  background: #f5f5f5;
  float: right;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages ul li > div {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages ul li > div > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages ul li > div > div > span {
  display: inline-flex;
  font-size: .8em;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages ul li > div > div > span.nw-user {
  margin-right: 15px;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages ul li > div > div > span.nw-user.nw-author:before {
  display: block;
  content: ' ';
  width: 12px;
  height: auto;
  margin-right: 5px;
  background-image: url(../images/author.png);
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 735px) {
  .nw-visitor-chat-wrapper .nw-chat-content .nw-chat-messages ul li > div {
    max-width: 300px;
    min-width: 150px;
  }
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-reply {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-reply .wrap {
  position: relative;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-reply .wrap input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 90px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  color: #32465a;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-chat-content .nw-chat-reply .wrap input {
    padding: 15px 32px 16px 8px;
  }
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-reply .wrap input:focus {
  outline: none;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-reply .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: 0.5;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-chat-content .nw-chat-reply .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-reply .wrap .attachment:hover {
  opacity: 1;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-reply .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}
@media screen and (max-width: 735px) {
  .nw-visitor-chat-wrapper .nw-chat-content .nw-chat-reply .wrap button {
    padding: 16px 0;
  }
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-reply .wrap button:hover {
  background: #435f7a;
}
.nw-visitor-chat-wrapper .nw-chat-content .nw-chat-reply .wrap button:focus {
  outline: none;
}

.check-part {
  width: 500px;
  height: 200px;
  margin: 0;
  top: 100px;
  position: absolute;
  background: green;
  color: hotpink;
}

/**
* Style for boot management page
*/
.nw-admin-message {
  margin: 100px auto;
}

.nw-admin-message .nw-message-wrapper {
  border: 1px solid #c4c4c4;
  overflow: hidden;
  border-radius: 10px;
  height: 600px;
}

.nw-message-wrapper .nw-message-list {
  background: rgba(249, 249, 249, 0.5) none repeat scroll 0 0;
  overflow: hidden;
  border-right: 1px solid #c4c4c4;
}

.nw-message-list .nw-list-header {
  padding: 10px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.nw-list-header .nw-list-heading {
  color: #05728f;
  font-size: 21px;
  margin: auto;
  padding: 0;
}

.nw-list-search .input-group>.form-control {
  border-width: 0 0 1px 0;
  border-radius: 0;
  background: transparent;
  outline: none;
}

.nw-list-search .input-group>.form-control:focus {
  outline: none;
  box-shadow: none;
}

.nw-list-search .input-group>.input-group-append {
  margin: 0 0 0 -27px;
}

.nw-list-search .input-group>.input-group-append>button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
}

.nw-message-list .nw-list-content {
  height: 530px;
  overflow-y: scroll;
  align-content: flex-start;
  transition: height 0.15s ease-in-out;
}

.nw-message-list .nw-list-content.toggled {
  height: 0;
}

.nw-list-content .nw-list-item {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
  max-height: 100px;
  overflow: hidden;
  cursor: pointer;
}

.nw-list-item.active,
.nw-list-item:hover {
  background: #ebebeb;
}

.nw-list-item .nw-item-wrapper {
  overflow: hidden;
  clear: both;
}

.nw-item-wrapper .nw-item-figure {
  padding: 5px;
}

.nw-item-wrapper .nw-item-figure>img {
  max-width: 100%;
}

.nw-item-wrapper .nw-item-content {
  padding-left: 5px;
}

.nw-item-wrapper .nw-item-content h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.nw-item-sub {
  font-size: 13px;
  float: right;
}

.nw-item-wrapper .nw-item-content p {
  font-size: 14px;
  color: #989898;
  margin: auto
}

.nw-message-wrapper .nw-message-content {
  padding: 15px 25px;
}

.nw-message-content .nw-message-history {
  height: 516px;
  overflow-y: auto;
}

.nw-message-history .nw-message {
  overflow: hidden;
  margin: 10px;
}

.nw-message-incoming .nw-item-figure {
  padding: 0 5px;
}

.nw-message-incoming .nw-item-figure>img {
  max-width: 100%;
}

.nw-message-incoming .nw-item-content {
  padding-left: 10px;
  width: fit-content;
  padding: 0;
}

.nw-message-block {
  width: fit-content;
  padding: 0;
}

.nw-message-block p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 20px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 15px 20px;
  width: fit-content;
}

.nw-message-block>.nw-item-sub {
  float: none;
  color: #747474;
  display: block;
  font-size: 11px;
  margin-top: 5px;
}

.nw-message-outgoing {
  text-align: -webkit-right;
  padding: 0;
}

.nw-message-outgoing .nw-message-block p {
  background: #05728f none repeat scroll 0 0;
  color: #fff;
}

.nw-message-content .nw-message-reply {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.nw-message-reply .nw-control-chat {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  outline: none!important;
}

.nw-message-reply .nw-button-send {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}