@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@charset "utf-8";
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/*!
Theme Name: virtual_expo
Theme URI: https://aegmedia.vn/
Author: AEG_Media
Author URI: https://aegmedia.vn/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: aeg_media
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

*/
#order-booth .wpcf7-submit{
    background: rgb(0 123 255);
    color: #fff;
}
#order-booth .wpcf7-submit:hover{
    opacity: 0.8;
    cursor: pointer;
}
#tableCompanyName th.exhibitor,#tableCompanyName td.exhibitor{
    min-width: 200px;
}
.room-chat-button.nav-ft ul a{
    padding: 10px 15px;
    color: #fff;
}
.room-chat{
    padding-bottom: 100px;
}
#wrap_admin{
    position: relative;
}
/*.btnsPanel{*/
/*    width: 104px;*/
/*    height: 104px;*/
/*    position: absolute;*/
/*    left: 20px;*/
/*    top: 20px;*/
/*    z-index: 3;*/
/*    background: transparent url('../images/bg-arrows.png') no-repeat;*/
/*    display: none;*/
/*}*/
.btnsPanel a.upBtn,
.btnsPanel a.rightBtn,
.btnsPanel a.downBtn,
.btnsPanel a.leftBtn ,
.btnsPanel a.centerBtn,
a.iBtn,
a.zoomInBtn,
a.zoomOutBtn {
    display:block;
    position:absolute;
    margin:0;
    width:25px;
    height:25px;
}

.btnsPanel a.upBtn  {
    margin:6px 0 0 42px;
    background: transparent url('../images/arrow-up.png') no-repeat;
}

.btnsPanel a.rightBtn  {
    margin:37px 0 0 72px;
    background: transparent url('../images/arrow-right.png') no-repeat;
}

.btnsPanel a.downBtn  {
    margin:68px 0 0 42px;
    background: transparent url('../images/arrow-down.png') no-repeat;
}

.btnsPanel a.leftBtn  {
    margin:37px 0 0 10px;
    background: transparent url('../images/arrow-left.png') no-repeat;
}
.btnsPanel a.zoomInBtn {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 39px;
    height: 39px;
    margin: 10px 0 0 33px;
    border: 1px SOLID #64605b;
    background: #fff url('../images/zoom-in.png') center no-repeat;
    -webkit-box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
    -moz-box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
    box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
}
.btnsPanel a.zoomOutBtn {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    width: 39px;
    height: 39px;
    margin: 60px 0 0 33px;
    border: 1px SOLID #64605b;
    background: #fff url('../images/zoom-out.png') center no-repeat;
    -webkit-box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
    -moz-box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
    box-shadow: -2px 2px 10px rgba(50, 50, 50, 0.40);
}
.tooltip img{
    width: 100%;
}
.tooltip{
    width: 200px;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 0 10px 1px #4e4e4e;
}
.tooltip label{
    width: 100%;
    border-top: 1px solid #dedede;
    font-size: 18px;
    padding-top: 5px;
    margin-bottom: 5px;
    margin-top: 9px;
}
#wrap_admin svg{
    width: 100%;
    height: 100vh;
}
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 11px;
}
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;  /* Round any decimal pixels so it'll render nicely */
}
#zoom{
    display: none;
}
#zoom.show{
    display: block;
}
#body{
    overflow-x:hidden;
}
#body{
    padding-bottom: 100px;
}
body,div,ul,li,ol,dl,dt,dd,input,h1,h2,h3,h4,h5,h6,span,strong,img,p{margin:0;padding:0;border:none}
ul,li,ol,dl,dt,dd{list-style:none}
img{max-width:100%}
a {
    text-decoration: none;
    color: inherit;
}
a:hover, a:focus{
    text-decoration: none;
    color: #F20505;
    outline: none;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: relative;
    color: #282828;
    line-height: normal;
    padding: 0!important;
}
#post.content-primer .h1, #post.content-primer .h2, #post.content-primer .h3, #post.content-primer .h4, #post.content-primer .h5, #post.content-primer .h6, #post.content-primer h1, #post.content-primer h2, #post.content-primer h3, #post.content-primer h4, #post.content-primer h5, #post.content-primer h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.3;
    color: inherit;
}
#post.content-primer p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.4;
}
#post.content-primer ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.um-field-company_name .um-field-label label,
.um-field-purpose_of_your_visit .um-field-label label,
.um-field-exhibition-through .um-field-label label,
.um-field-field_of_interest .um-field-label label,
.um-field-primary_activity .um-field-label label,
.um-field-link_booth .um-field-label label,
.um-field-url .um-field-label label,
.um-field-phone_number .um-field-label label,
.um-field-user_password .um-field-label label,
.um-field-user_email .um-field-label label,
.um-field-field_of_business .um-field-label label
.um-field-purpose_of_visit .um-field-label label
.um-field-about_event .um-field-label label
.um-field-demand .um-field-label label
{
    position: relative;
}

.um-field-demand .um-field-label label:after,
.um-field-about_event .um-field-label label:after,
.um-field-purpose_of_visit .um-field-label label:after,
.um-field-field_of_business .um-field-label label:after,
.um-field-phone_number .um-field-label label:after,
.um-field-purpose_of_your_visit .um-field-label label:after,
.um-field-field_of_interest .um-field-label label:after,
.um-field-primary_activity .um-field-label label:after,
.um-field-link_booth .um-field-label label:after,
.um-field-exhibition-through .um-field-label label:after,
.um-field-url .um-field-label label:after,
.um-field-company_name .um-field-label label:after,
.um-field-user_password .um-field-label label:after,
.um-field-user_email .um-field-label label:after
{
    content: '*';
    color: red;
    margin-left: 2px;
}
#post.content-primer ul li{
    list-style-type: disc;
    margin-block-end: .7em;
}
#post.content-primer td {
    border: 1px solid #ddd;
    padding: 10px;
}

#post.content-primer table {
    max-width: 100%!important;
    width: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
/*start css*/
/*index*/
body{
    background:  url('../images/body-bg.jpg')center top no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.previewLoadHome{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    position: fixed;z-index: 999999;
}
.end-web{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;z-index: 99999999;
    background: #00000080;
    width: 100%;height: 100%;
    left: 0;
    top: 0;
}
.end-web div img{
    max-height: 90vh;
    width: auto;
}
.previewLoadHome.close{
    display: none;
    z-index: 0;
}
.div-zoom{
    /* background: url('../images/cong.jpg') center center no-repeat;
    background-size: cover; */
    /* transform: matrix(1, 0, 0, 1, 0, 0); */
    transition: 5s all;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#video--wellcome{
    height: 100%;
    object-fit: cover;
    width: 100%;
}





/* .div-zoom.active{
    transform:translate3d(-18%, -29%, 0px) scale(2.08502, 2.08502);
    -webkit-transform:translate3d(-18%, -29%, 0px) scale(2.08502, 2.08502);
    -o-transform:translate3d(-18%, -29%, 0px) scale(2.08502, 2.08502);
    -ms-transform:translate3d(-18%, -29%, 0px) scale(2.08502, 2.08502);
    -moz-transform:translate3d(-18%, -29%, 0px) scale(2.08502, 2.08502);
}
 */
.close--div-zoom{
    position: absolute;
    top: 58.78%;
    left: 45.5%;
    width: 14.7%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    box-shadow: 0 0;
}
#countdown{
    position: absolute;
    top: 24.3%;
    left: 39.9%;
    background: #033051d9;
    padding: .3em 0 .5em;
}
#countdown ul{
    display: flex;
}
#countdown ul li{
    display: block;
    margin: 0 1em;
    text-align: center;
    color: #fff;
}
#countdown ul li i{
    display: block;
    font-size: 2.5em;
    font-style: normal;
    font-weight: bold;
}

#countdown ul li span{
    display: block;
    margin-top: .1em;
    font-size: 1em !important;
}














.header__topbar1{
    background: #032e4e;
    color: #eee;
}
.header__topbar1--left ul{
    display: flex;
}
.header__topbar1--left ul li:after{
    content: '|';
    display: inline-block;
    margin: 0 8px;
}

.header__topbar1--left ul li:last-child:after{
    content: none;
}

.header__topbar1--left ul li a{
    display: inline-block;
    padding: 8px 0;
}
.header__topbar1--left ul li a:hover{
    color:#d8cdcd;
}

.header__topbar1--left ul li i{
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
    color: #E30613;
}
.header__topbar1--left ul li a:hover i{
    color: #d20713;
}


.header__topbar1--left ul li:last-child i{
    content: none;
    font-size: 25px;
    line-height: 0;
}
.header__topbar2{
    background: #032e4e;
}
.header__topbar1--right{
    display: flex;
    justify-content: flex-end;
}




.header__topbar1--right .languaes,.header__topbar1--right .login-logout ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.header__topbar1--right .login-logout ul a{
    display: block;
    margin-right: 20px;
}

.header__topbar1--right .languaes li{
    margin-left: 5px;
}

.header__topbar1--right .languaes img{
    height: 1.3em;
    width: auto;
}

.header__topbar2 .header__topbar2--left{
    padding:11px 30px 11px 15px;
}
.header__topbar2 .header__topbar2--left h1{
    line-height: 0;
}
.header__topbar2 .header__topbar2--left img{
    max-height: 40px;
    width: auto;
}
.header__topbar2--right{
    display: flex;
    color: #fff;
    align-items: center;
}

.blog-menu-inner .blog-menu ul li a {
    display: inline !important;
}
.simply-scroll-container {
    position: relative;
}

.simply-scroll-clip {
    position: relative;
    overflow: hidden;
}
.simply-scroll-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.simply-scroll-list li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 5em;
}

.simply-scroll-list li img {
    border: none;
    display: block;

}
.simply-scroll {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}
.simply-scroll .simply-scroll-clip {
    height: auto;
    width: 66.7em;
}
.simply-scroll .simply-scroll-list li {
    float: left; /* Horizontal scroll only */
    width: auto;
    height: 3.2em;
}

.header__topbar2{font-size: 10px;}

.header__topbar2--marquee{
    background: #fff;
    padding-top: 3px;
    border-radius: 5px;

}
.header__topbar2--right span{
    display: inline-block;
    margin-right: 1em;
    font-size: 1.4em;
}
.element--1{
    position: relative;
    font-size: 100%;
}
.element--1 img{
    width: 100%;
    max-height: 100%;
}
.element--1 a.button-play{
    position: absolute;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    padding: .4em 1em;
    text-align: center;
    background: #ec2027;
    border: 0.072em solid #fff;
    color: #fff !important;
    font-size: 2em;
    cursor: pointer;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    text-decoration: none;
    box-shadow: 0 0 0 .4em rgba(255,255,255,0.2);
    border-radius: 1em;
    font-weight: bold;
}
.element--2{
    display: none;
}
.element__all{position: relative;}
.element__all.active .element--2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
    display: block;
}
iframe{
    width: 100%;
    height: 100%;
}
.element__all{
    background: #fff;
    font-size: 10px;
}

.element--1--banner1{
    position: absolute;
    left: 40.75%;
    top: 34%;
    width: 18.4em;
    height: 10.4em;
    border: 2px solid #d4d4d4;

}

.element--1 div a {
    display: block;
    width: 100%;
    height: 100%;
}
.element--1 div.content-primer a {
    display: inline;
    width: auto;
    height: auto;
}

.element--1--banner2{
    position: absolute;
    left: 23.9%;
    top: 9.1%;
    width: 12.5em;
    height: 18.9em;
}
.element--1--banner3{
    position: absolute;
    left: 63.6%;
    top: 9.1%;
    width: 12.5em;
    height: 18.9em;
}

.element--1--banner4{
    width: 2em;
    height: 2em;
    background: url(../images/image-animation.svg) center center no-repeat;
    background-size: contain;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    top: 71.2%;
    left: 30%;
}
.element--1--banner4 .dot-banner-animation {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}
.element--1--banner4 .dot-banner--tooltip {
    padding: .5em 1em;
    position: absolute;
    display: none;
    border: 1px solid #62BA50;
    text-align: center;
    background: #00000070;
    color: #fff;
    z-index: 99;
    border-radius: 5px;
    white-space: nowrap;
}
.element--1--banner4 .dot-banner-animation:hover .dot-banner--tooltip {
    top: 1.5em;
    left: 2em;
    display: block;
}
.element--1--banner5{
    position: absolute;
    left: 23.6%;
    top: 43.1%;
    width: 14.6em;
    height: 3.6em;
}
.element--1--banner6{
    position: absolute;
    left:39.6%;
    top: 53%;
    width: 21.5em;
    height: 6.8em;
}





.element--1--home{
    cursor: pointer;
}
.element--1--home .dot-banner-animation {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}
.element--1--home  .dot-banner--tooltip {
    padding: .5em 1em;
    position: absolute;
    display: none;
    border: 1px solid #62BA50;
    text-align: center;
    background: #00000070;
    color: #fff;
    z-index: 99;
    border-radius: 5px;
    white-space: nowrap;
}
.element--1--home  .dot-banner-animation:hover .dot-banner--tooltip {
    top: 100%;
    left: 2em;
    display: block;
}

.element--1--banner7{
    position: absolute;
    left: 61.6%;
    top: 43.1%;
    width: 14.6em;
    height: 3.6em;
}




.room-chat{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.room-chat iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90%;
    border: none;
}

.room-chat .room-chat-button{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    border: none;
    background: #333;
}
.room-chat .room-chat-button ul{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    height: 100%;
}
.room-chat .room-chat-button ul li{
    margin-right: 20px;
}






.divFull{width: 100%;}






footer {
    font-size: 12px;
    bottom: 20px;
    display: block;
    background: rgba(0,0,0,0.5);
    color: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .footer--left ul{
    display: flex;
    padding: 7px 0;
}
footer .footer--left ul li:after{
    content: '|';
    display: inline-block;
    margin:0 5px;
}
footer .footer--left ul li:last-child:after{
    content: none;

}
.footer--right{
    padding: 7px 0;
}
/* Template 1 */
.banner.template1{
    position: relative;
}
.template1 .dot-banner{
    width: 2em;
    height: 2em;
    background: url('../images/image-animation.svg') center center no-repeat;
    background-size: contain;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}
.template1 .dot-banner1{
    top: 71%;
    left: 50%;
}
.template1 .dot-banner2{
    top: 23%;
    left: 64.2%;
}
.template1 .dot-banner24{
    top: 20%;
    left: 18.8%;
}

.template1 .dot-banner4{
    top: 43%;
    left: 40%;
}

.template1 .dot-banner5{
    top: 43%;
    left: 59%;
}
.template1 .dot-banner6{
    top: 22%;
    left: 22.2%;
    display: none;
}
.template1 .dot-banner7{
    top: 22%;
    left:78.8%;
    display: none;
}
.template1 .dot-banner8{
    top: 55%;
    left: 28%;
}
.template1 .dot-banner9.sliderproduct-tem1{
    top: 47%;
    left: 63.8%;
    background: none;
    width: 13em;
    height: 15em;
}
.slider-product--tem1 .owl-prev,.slider-product--tem1 .owl-next,.slider-product--tem3 .owl-next,.slider-product--tem3 .owl-prev{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    font-size: 2rem;
    /* background: #ccc; */
    padding: .2rem .3rem .3rem .3rem;
    line-height: 1;
    transform: translateY(-50%);
    color:  #033051;
}
.slider-product--tem1 .owl-prev,.slider-product--tem3 .owl-prev{
    right: 101%;
}

.slider-product--tem1 .owl-next,.slider-product--tem3 .owl-next{
    left: 101%;
}

.img-poster-banner{
    width: auto;
    margin: auto;
    display: block;
    max-height: 75vh;
}

.single-detel .modal.show .modal-body{
    max-height: 75vh;
    overflow-y: auto;
}

button.delete
{
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    background: transparent;
    opacity: .5;
    border: none;
}

.template1 .dot-banner.dot-banner3{
    top: 26.2%;
    left: 45.5%;
    width: 10%;
    height: 11.5%;
    border-radius: 0;
    background: none;
}
.template1 .dot-banner.dot-banner3 iframe{
    display: none;
}
.template1 .dot-banner.dot-banner3 img{
    width: 100%;
    height: 100%;
}

.template1 .dot-banner.dot-banner3.active iframe{
    display: block;
    width: 100%;
    height: 100%;
}

.template1 .dot-banner.dot-banner3.active img{
    display: none;
}




.template1 .dot-banner-animation{
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}
.template1 .dot-banner--tooltip{
    padding:.5em 1em;
    position: absolute;
    display:none;
    border: 1px solid #62BA50;
    text-align: center;
    background: #00000070;
    color: #fff;
    z-index: 99;
    border-radius: 5px;
    white-space: nowrap;
}

.template1 .dot-banner-animation:hover .dot-banner--tooltip{
    top: 1.5em;
    left: 2em;
    display: block;
}
.modal-open .modal.show,body.modal-open{padding-right: 0 !important;}
.modal-open .modal.show,#myModal0.modal.show{
    display: flex  !important;
    align-items: center  !important;
    justify-content: center  !important;
    background: #000000ad;
}
#order-booth textarea{
    height: 80px;
}

/* End Template 1 */



/* Category */
.category__main1{
    padding: 10px 0;
}


.category__main1--list {position: relative;}
.category__main1--list span{
    background: #00000080;
    color: #eee;
    display: block;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.category__main1--list:hover span {
    background: #00000099;
}
.category__main1--list ul{
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    background: #00000099;
    color: #eee;
    display: none;
    z-index: 999;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 12px 0px #000000d4;
}
.category__main1--list ul.fixmenu{
    max-height: 73vh;
    overflow-y: scroll;
}

.category__main1--list ul a{
    display: block;
    padding: 5px 0;
    border-bottom: 1px dashed #00000061;
}
.category__main2{margin-bottom: 30px;}
.category__main2---bg{
    background: #fff;
    padding: 15px 30px 30px;
    border-radius: 5px;
}
.category__main2--title{
    display: block;
    text-align: center;
    margin-bottom: 30px;
    margin: 15px auto 30px;
    color: #62BA50;
    font-weight: 900;
    text-transform: uppercase;
}
.category__main2--post-images a{
    height: 205px;
    position: relative;
    display: block;
    overflow: hidden;
}
.category__main2--post-images a img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.category__main2--post-title a{
    padding: 15px;
    color: #62BA50;
    display: block;
    font-size: 24px;
}
.category__main2--post>p{
    padding:0 15px;
}

.category__main2--post>a{
    padding: 15px;
    color: #EC2027;
    display: block;
}
.category__main2--post{
    border: 1px solid #ccc;
    padding: 1px;
    box-shadow: 0px 3px 6px 0px #999;
}
.category__main1--form-input{
    background: #00000080;
    border: 1px solid #00000080;
    color: #eee;
}
.category__main1--form-input::placeholder{
    color: #eee;
}

.category__main1--form-input:focus{
    color: #eee;
    background: #00000099;
     border: 1px solid #00000080;
}
.category__main1--form-select{
    background: #00000080;
     border: 1px solid #00000080;
    color: #eee;
    cursor: pointer;
}

.category__main1--form-select:focus{
    border: 1px solid #00000080;
    color: #eee;
    background: #00000099;
    cursor: pointer;
}

.category__main1--form-select option{
    line-height: 1.5;
    padding: 15px;
    cursor: pointer;
}
.category__main1--form-button{
    border: 1px solid #00000080;
    color: #eee;
    background: #00000099;
}

.category__main1--form-button:focus{
    border: 1px solid #00000080;
    color: #eee;
    background: #00000099;
}



/* END Category */




/* Template 2 */

.template1.template2  .dot-banner1 {
    top: 80.2%;
    left: 75%;
}

.template1.template2  .dot-banner2 {
    top: 63%;
    left: 51%;
}
.template1.template2  .dot-banner3 {
    top: 41.4%;
    left: 68.9%;
    width: 10.3%;
    height: 11.3%;
}

.template1.template2  .dot-banner4 {
    top: 77%;
    left: 67.5%;
}

.template1.template2  .dot-banner5 {
    top: 47%;
    left: 19%;
    background: none;
    width: 13em;
    height: 15em;


}




.template1.template2  .dot-banner6 {
    top: 29%;
    left: 29.5%;
}


/* End Template 2 */


/* Template 3 */

.template1.template3  .dot-banner1 {
    top: 52%;
    left: 61.2%;
}

.template1.template3  .dot-banner2 {
    top: 64.5%;
    left: 47.2%;
}

.template1.template3  .dot-banner3 {
   top: 52.2%;
    left: 31.1%;
    width: 6em;
    height: 3.3em;
}

.template1.template3  .dot-banner4 {
    top: 67%;
    left: 77.5%;
}

.template1.template3  .dot-banner5 {
    top: 60%;
    left: 5.5%;
    background: no-repeat;
    width: 22em;
    height: 6.5em;
    border-radius: 0;
}
.template1.template3  .dot-banner6 {
    top: 33%;
    left: 14%;
}
.template1.template3  .dot-banner7 {
    top: 70%;
    left: 79.5%;
}
.template1.template3  .dot-banner8 {
    top: 43%;
    left: 77.5%;
}
.template1.template3  .dot-banner9 {
    top: 41%;
    left: 82.8%;
}
.template1.template3  .dot-banner10 {
    top: 36%;
    left: 90.2%;
}
.template1.template3  .dot-banner11 {
    top: 44%;
    left: 20.3%;
}

.template1.template3  .dot-banner12 {
    top: 40%;
    left: 15.3%;
}

.template1.template3  .dot-banner13 {
    top: 36%;
    left: 7.5%;
}

.template1.template3  .dot-banner14 {
    top: 62.7%;
    left: 17.2%;
    width: 4.2%;
    height: 4.3%;
    background: none;
}
.template1.template3  .dot-banner15 {
    top: 62.7%;
    left: 21.69%;
    width: 4.2%;
    height: 4.3%;
    background: none;
}



/* End Template 3 */





.header__topbar2--marquee{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.header__topbar2--marquee ul{
    display: inline-flex;
    justify-content: space-around;

}
.header__topbar2--marquee ul a img{
    display: block;
    padding: 3px 20px;
    height: 30px;
    width: auto;
    max-width: 500px;
}

.scroller1 {
  animation: marquee 20s linear infinite;
}

.scroller2 {
  animation: marquee2 20s linear infinite;
}
.header__topbar2--marquee:hover .scroller2,.header__topbar2--marquee:hover .scroller1 {
    animation-play-state: paused;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
main#main{
    display: flex;
    align-items: center;
    min-height: calc( 100vh - 116.3px );
}


main#main.main-archive{
    min-height: calc( 100vh - 177.3px );
}



.dot__popup--video{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}
.popup__video .popup__video--slider .item{
    height: 60vh;
}
.modal-dialog {
    max-width: 55vw;
    width: 55vw;
}
#briefcase .modal-dialog
{
    max-width: 60vw;
    width: 60vw;
}

.popup__video .modal-body{
    padding: 1rem 2rem;
}


.popup__video .popup__video--slider .owl-prev,.popup__video .popup__video--slider .owl-next{
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    font-size: 2rem;
    /* background: #ccc; */
    padding: .2rem .3rem .3rem .3rem;
    line-height: 1;
    transform: translateY(-50%);
    color:  #033051;
}
.popup__video .popup__video--slider .owl-prev{
    right: 101%;
}

.popup__video .popup__video--slider .owl-next{
    left: 101%;
}
#wrap-video{
    background: url('../images/loading_icon.gif') center center no-repeat;
    background-size: 25%;
}
.single-detel .modal-pdf.modal.show .modal-body{
    height: 70vh;
    max-height: 70vh;
    overflow-y: hidden;
}
.document-table .row{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;

}
.document-table .row>div{
    display: flex;
    align-items: center;

}

.document-table .row img{
    width: 20px;
}
.document-table .row a.btn{
    background: #333;
    color: #fff;
}

.document-table{
    padding-bottom: 10px;
}

.poster-slider img{
    width: auto !important;
    margin: auto;
}



.form-full-page-html body{background: none;}
.formVisitor--main .row {
   margin-right: -7.5px;
    margin-left: -7.5px;
}
.formVisitor--main .row .col-12 {
    margin-bottom: 15px;
    padding-right: 7.5px;
    padding-left: 7.5px;
}
.formVisitor--main .row .btn-submitform {
    background: #62ba50;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    display: block;
}
.formVisitor--main .row textarea {
    height: 120px;
}

.select-form h5 {
    font-size: 16px;
    font-weight: normal;
    color: #333;
    margin-bottom: 10px;
}
#formVisitor .modal-body{
    overflow-y: auto;
    max-height: calc( 100vh - 230px );
}

#formVisitor .modal-body .form-check{
    padding-left: 0;
}
#formVisitor .modal-body .form-check>span{
    display: block;
}

.nav-ft{
    padding: 30px 0 5px;
    position: fixed;
    background: linear-gradient(180deg, rgba(221, 221, 221, 0) 5.98%, rgba(255, 255, 255, 0.5) 25.24%, rgba(255, 255, 255, 0.95) 59.38%, #ffffff 90%, #ffffff 90%);
    z-index: 99;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    bottom: 0;
    padding-top: 40px;
}
.nav-ft ul{
    display: flex;
    justify-content: center;
}
.nav-ft ul li{
    position: relative;
}

.nav-ft ul a img{
    max-width: 30px;
    margin-bottom: 5px;
    vertical-align: middle;
    display: block;
    margin: 0 auto 5px;
    width: 28px;
    height: 28px;
    transition: transform 300ms linear;
}
.nav-ft ul a:hover img{
    transform: scale(1.2);
}

.nav-ft ul a{
    padding: 0 15px;
    display: block;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    vertical-align: sub;
}
.menu-navigation{
    bottom: 120px;
    position: fixed;
    left: 20px;
    display: none;
}


.menu-navigation ul{
    background: #ffffffd9;
    border-radius: 5px;
    padding-bottom: 27px;
}


.menu-navigation ul a{
    padding: 9px 12px 9px 24px;
    border-bottom: 1px solid #e2e4e7;
    cursor: pointer;
    border-left: 4px solid transparent;
    display: block;
    line-height: 21px;
    color: black;
    text-align: left;
    width: 300px;
}

.menu-navigation ul a:hover {
    border-left: 4px solid #293033;
}

.menu-navigation.open{
    display: block;
}
.popup__video .popup__video--slider .owl-next.disabled,.popup__video .popup__video--slider .owl-prev.disabled{
    opacity: .3;
}

.form-full-page .um-right.um-half .um-button{
    display: none;
}








/* table */
.viewDetails button{
    border: 1px solid #ccc;
    padding: 5px 7px;
    outline: none;
    cursor: pointer;
}
#tableCompanyName_filter,
#tableBriefCase_filter,
#tableExhibitionExtra_filter{
    width: 50%;
    float: left;

}

tbody {
    display:block;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
}
thead,
tbody {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}


#tableCompanyName_filter label,
#tableBriefCase_filter label,
#tableExhibitionExtra_filter label{
    display: flex;
    align-items: center;
    width: 100%;
}

#tableCompanyName_filter input,
#tableBriefCase_filter input,
#tableExhibitionExtra_filter input{
    border: 1px solid #ccc;
    width: 100%;
    padding:5px 5px;
    outline: none;

}
#tableCompanyName,
#tableBriefCase,
#tableExhibitionExtra{
    margin-bottom: 15px;
    border-bottom: 1px solid #999;
}

table#tableCompanyName.dataTable thead th,
table#tableBriefCase.dataTable thead th,
table#tableExhibitionExtra.dataTable thead th{
    padding: 10px ;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
}


#nav-ft span.view-number-product{
    position: fixed;
    bottom: 20px;
    right: 5%;
    transition: transform .2s;
}

.cd-cart__count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: 23px;
    height: 22px;
    width: 22px;
    background: #e94a35;
    color: #fff;
    font-size: .83333em;
    font-weight: 700;
    border-radius: 50%;
    text-indent: 0;
    transition: -webkit-transform .2s .5s;
    transition: transform .2s .5s;
    transition: transform .2s .5s,-webkit-transform .2s .5s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* table */


#form-full-page{
    overflow-x: hidden;
}

#form-full-page .wpcf7-response-output{
    margin: 0 !important;
}

.rigistra-body{
    background: #fff;
    padding:30px 15px !important;
    margin:30px auto !important;
    border-radius: 5px;
    min-height: calc( 100vh - 160px );
}


.um-login.um-118 a.um-link-alt{
    text-align: left !important;
}

.formVisitor--main span.wpcf7-list-item {
    width: 48%;
}



#popup-document-web.modal.show .modal-body {
    height: 70vh;
    max-height: 70vh;
    overflow-y: hidden;
}
.dot-banner.dot-zoom{
    background: #ffffff url(../images/zoom-in.svg) center center no-repeat;
    background-size: 50% 50%;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0;
    color: #fff;
    box-shadow: 0 0 8px 4px #fff;
    top: 2%;
    left: 95%;
}
.dot-banner.dot-zoom.active{
    background: #ffffff url(../images/zoom-out.svg) center center no-repeat;
    background-size: 50% 50%;
}




.divFull.open{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    max-width: 100vw;
    padding: 0;
    z-index: 9999;
}

.divFull.open .template1 .dot-banner9.sliderproduct-tem1 {
    top: 52%;
    left: 66.8%;
}

.divFull.open .template1.template2 .dot-banner5 {
    top: 55%;
    left: 20%;
}
.divFull.open .template1.template3 .dot-banner5 {
    top: 60%;
    left: 6.5%;
}


.custom-menu-member{
    display: flex;
    padding: 5px 0;
}
.custom-menu-member li a{
    display: block;
    padding: 10px 20px;
    background: #3ba1da;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
}
.profile-header{
    margin-left: 20px;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
}
.profile-header>a{
    display: block;
    position: relative;
    background: rgb(98 186 80);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    color: #000;
    font-size: 10px;
    line-height: 36px;
    transition: all 300ms linear;
    position: relative;
    display: block;
}
.profile-header a span{
    margin-right: 0;
}.profile-header a>i{
    position: absolute;
    bottom: 0;
    right: 0;
}
.profile-header>ul{
    display: none;
    position: absolute;
    right: -20px;
    top: calc( 100% + 14px);
    color: #333;
    z-index: 99;
    width: 160px;
}
.profile-header>ul a{
    background: #fff;
    font-size: 14px;
    padding: 7px 15px;
    display: block;
}
.profile-header>ul li:first-child a{
    border-radius: 5px 5px 0 0;
}
.profile-header>ul li:last-child a{
    border-radius: 0 0 5px 5px;
}

.profile-header>ul a:hover{
    background: #f1f1f1;
}
.nav-v-single{
    position: fixed;
    z-index: 99999;
    top: 25%;
    left: 0;
    transform: translateY(-50%);
}
.nav-v-single a{
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    background: #fff;
    color: #032E4E !important;
    font-size: 22px;
    align-items: center;
    transition: .5s all;
    margin: 0;
    cursor: pointer;
}

.nav-v-single a:hover{
    width: 60px;
}
.um-page-loggedin .rigistra-body>h1{display: none;}

.form-control,
.input-group-addon{
    border: 1px solid #ccc;
}
.input-group-addon{
    padding: 6px 12px;
    cursor: pointer;
}

.fade{
    opacity: .5;
    display: none;
}


.demand{width: 40% !important;padding-left: 7.5px!important;}
#tableAttendee .companyName,
#tableExhibitionExtra .exhibitor{
    width: 40% !important;
    padding-left: 7.5px !important;
}

.content-info{display: none;}
#tableAttendee .companyEmail{
    font-size: 13px;
    line-height: 1.5;
    width: 20% !important;
    text-transform: capitalize;
}
#tableCompanyName .view{
    font-size: 13px;
    line-height: 1.5;
    width: 15% !important;
    text-transform: capitalize;
}
.companyEmail .ct-info{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: #032e4e;
    font-weight: bold;
}

.companyEmail .ct-info:after{
    content: '+';
    display: inline-block;
    vertical-align: middle;
}.companyEmail .ct-info.active:after{
    content: '-';
}

#tableAttendee_filter.dataTables_filter{
    float: left;
    width: 50%;
}
#tableAttendee_filter.dataTables_filter label{
    width: 100%;
}
#tableAttendee_filter.dataTables_filter label input{
    width: 83%;
    border: 1px solid #999;
    padding: 5px;
    outline: none;
}
#tableAttendee_filter.dataTables_filter label input:focus{
    outline: none;
}


.document-link>a>img
{
    width: 20px;
}

th.companyName {width: 236px;}
th.document-name {width: 240px;}
td.companyName {width: 35% !important;}
td.document-name{width: 35.5% !important;}
td.document-link{width: 113px;}
td.document-link,td.action{text-align: center;}
.close--div-zoom img{
    max-width: 100%;

}
#tableCompanyName .exhibitor{
      width: 40% !important;
    padding-left: 7.5px !important;
}
.country,.interest{
      width: 20% !important;
    padding-left: 9.5px !important;
}
th.country{
    padding-left: 0px !important;
}

.modal-body table#tableAttendee th,.modal-body table#tableBriefCase th{
    text-align: center;
}
.next-post-single li a{
    position: fixed;
    top: 50%;
    padding: 26px 10px;
    background: #ffffff;
    color: #032e4e;
    font-weight: 900;
    font-size: 35px;
    transform: translateY(-50%);
    z-index: 99999;
    opacity: .8;
}


.next-post-single li.page-item-left a{
    left: 0;
}

.next-post-single li.page-item-right a{
    right: 0;
}





.next-post-single li.page-item-right a span{
    -webkit-animation: avia_fade_move_right 2s ease-in-out infinite;
    animation: avia_fade_move_right 2s ease-in-out infinite;
    display: block;
}
.next-post-single li.page-item-left a span{
    -webkit-animation: avia_fade_move_left 2s ease-in-out infinite;
    animation: avia_fade_move_left 2s ease-in-out infinite;
    display: block;
}

/*animated arrow animattion*/
@-webkit-keyframes avia_fade_move_right {
  0%   { -webkit-transform:translate(-5px,0); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(5px,0); opacity: 0; }
}
@keyframes avia_fade_move_right {
  0%   { transform:translate(-5px,0); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(5px,0); opacity: 0; }
}
/*animated arrow animattion*/
@-webkit-keyframes avia_fade_move_left {
  0%   { -webkit-transform:translate(5px,0); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(-5px,0); opacity: 0; }
}
@keyframes avia_fade_move_left {
  0%   { transform:translate(5px,0); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(-5px,0); opacity: 0; }
}





/* .div-zoom.active{
    transform:translate3d(-18%, -29%, 0px) scale(2.08502, 2.08502);
    -webkit-transform:translate3d(-18%, -29%, 0px) scale(2.08502, 2.08502);
    -o-transform:translate3d(-18%, -29%, 0px) scale(2.08502, 2.08502);
    -ms-transform:translate3d(-18%, -29%, 0px) scale(2.08502, 2.08502);
    -moz-transform:translate3d(-18%, -29%, 0px) scale(2.08502, 2.08502);
}
 */

.close--div-zoom{display: none;}
.close--div-zoom.active{display: flex;}


#tableCompanyName tbody, #tableBriefCase tbody, #tableExhibitionExtra tbody,#tableAttendee tbody{
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}



.close--div-zoom.active{
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
}

@-webkit-keyframes floating{
    0%{-webkit-transform:translateY(0%);}
50%{-webkit-transform:translateY(8%);}
100%{-webkit-transform:translateY(0%);}
}

.room-chat-button .nav-ft ul a {
    padding: 0 15px;
    font-size: 12px;
}
.room-chat-button .nav-ft ul a img {
    width: 24px;
    height: 24px;
}

.room-chat-button .nav-ft {
    padding: 14px 0 0px;
}







#tableBriefCase .companyName,#tableBriefCase .document-name{
    width: 30% !important;
}


#tableBriefCase .document-link,#tableBriefCase .action{
    width: 20% !important;
}






@media screen and (min-width: 1900px){
    .container{
        width: 1700px;
        max-width: 1700px;
        padding: 0 15px;
        margin:auto;
    }

}
@media screen and (min-width: 1400px) and (max-width: 1899px){
    .container{
        width: 1400px;
        max-width: 1400px;
        padding: 0 15px;
        margin:auto;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1399px){
    .container{
        width: 1170px;
        max-width: 1170px;
        padding: 0 15px;
        margin:auto;
    }
}




/*ipad-pro*/
@media screen and (min-width: 968px) and (max-width: 1110px){


}
/* end-ipad-pro*/

/*ipad*/
@media screen and (min-width: 768px) and (max-width: 967px){


}
/*end-ipad*/
/*mobile*/
@media screen and (max-width: 767px){

}
@media screen and (min-width: 375px) and (max-width: 413px){

}
